<section>
  <div class="row">
    <div class="col-md-8 borderz">
    <div class= "ongoing">
      <h2>A l'affiche</h2>
        <%@plays.each do |play|%>
          <%=link_to "#{play.title}", play_path(play)%>
        <%end%>
    </div>
    </div>
    <div class="col-md-4 borderz">
    <div class= "best">
      <h2>Top 5</h2>
    </div>
    </div>
  </div>
</section>
