<section>
<%= link_to "Retour", root_path, class:'btn btn-success retour' %>

<h1> Confirmation de réservation </h1>

<p> Vous avez effectué une réservation pour la pièce <%=@booking_play.title%>, vous allez recevoir un mail de confirmation.</br>

Bon spectacle !</p>
</section>